<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Complete Sign up</h2>

    <div>
      <form action="/team_name_url/" method="post">
        <label>full name</label>
        <input value="full Name" name="fullname" />
        <label>Email</label>
        <input value="email" name="email" />
      </form>
    </div>
  </body>
  <script></script>
</html>
