<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Complete Signup</title>
    <link
      href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
  </head>
  <body>
    <div class="mui-appbar"></div>

    <div class="mui-container-fluid">
      <div class="mui-row">
        <div class="mui-col-md-4 mui-col-md-offset-4">
          <div class="mui-panel" style="padding: 10px; margin-top: 35%">
            <p class="mui--text-display1">Complete signup</p>
            <br />

            <div style="align-content: center">
              <form>
                <div>
                  <label>Full name</label>
                  <input
                    id="fullname"
                    name="fullname"
                    class="mui-textfield mui-textfield--float-label"
                    style="width: 100%"
                  />
                </div>
                <div>
                  <label>Email</label>
                  <input
                    id="email"
                    name="email"
                    class="mui-textfield mui-textfield--float-label"
                    style="width: 100%"
                  />
                </div>
                <button id="submitBtn" class="mui-btn mui-btn--raised">
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    var search = location.search.substring(1);
    const queryParmsObj = JSON.parse(
      '{"' + search.replace(/&/g, '","').replace(/=/g, '":"') + '"}',
      function (key, value) {
        return key === "" ? value : decodeURIComponent(value);
      }
    );
    // if(Object.)

    var data = { email: "", fullName: "", ...queryParmsObj };
    const fullnameRef = document.getElementById("fullname");
    const emailRef = document.getElementById("email");
    const buttonRef = document.getElementById("submitBtn");

    fullnameRef.addEventListener("change", (e) => {
      data["fullName"] = e.target.value;
    });

    emailRef.addEventListener("change", (e) => {
      data["email"] = e.target.value;
    });

    buttonRef.addEventListener("click", (e) => {
      console.log(e, data);
    });
  </script>
</html>
